@charset "utf-8";
/* CSS Document */
/* #main{
	margin-top:150px;
	height:550px;
} */


img{
	text-align:center;
	vertical-align:middle;
}
 p{
	font-size:18px;
	line-height:200%;
	word-break:break-all;
} 


#search{
	font-family:"微软雅黑";
	font-weight:300;
	color:#FFF;
	background-color:#000;
} 

.slogan{
	font-family:"宋体";
	font-size: 28px;
}

h3{
	font-family:微软雅黑;
	color:green;
	text-align:center;
}
h4{
	font-family:微软雅黑;
	color:green;
}




	