@charset "utf-8";
/* CSS Document */
.top{
	margin-top:65px;
}
p{
	/*font-size:18px;*/
}
a{
	font-weight:400;
}
.result{
	margin-top:20px;
}
.left{
	width:800px;
}
hr{
	width:800px;
}
.right{
	width:250px;
	float:right;
}
h4{
	color:green;
	margin-top:30px;
}
.use{
	font-family: "Microsoft YaHei";
	font-size:16px;
	color:green;
} 
.show{
	font-family: "Microsoft YaHei";
} 
.nav-tabs{
	font-family:"Microsoft YaHei";
	font-size:17px;
}
a:link {color: black}		/* 未访问的链接 */
a:visited {color: black}	/* 已访问的链接 */
a:hover {color: black}	/* 鼠标移动到链接上 */
a:active {color: black}  /* 选定的链接 */
.pagination{
	background-color:green;
}